
<h1 class="display-4 text-center">Game Completed</h1>
<br />
<div class="twInDiv frSqrBtn">
    <div>    
        <img class="picWidth" src="~/img/RoughStoneJS.jpg" />
        <p>"Rough Stone" By Anthony Sweat</p>
    </div>
    <div class="txtBxDiv">
        <h4 class="marginTxtDiv text-center" style="color: darkslategrey; ">From this game, we learn that Joseph Smith was a complex man with flaws, unique skills, enemies, loved ones, and trials; All which made him the Prophet the Lord needed him to be.</h4>
    </div>
</div>
<br />
<form method="post" class="formKiller">
    <button type="submit" class="btn btn-primary vlilbtnwidth" asp-controller="Home" asp-action="ResetGame">Reset Game</button>
</form>
