@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">The Joseph Smith Story</h1>
<br />
    <div class="frSqrBtn text-center sqrCenterDiv">
         <a href="https://www.churchofjesuschrist.org/?lang=eng" target="_blank">
            <img src="~/img/churchLogo.jpg" class="picDiv"/>
            <h5>The Church of Jesus Christ</h5>
         </a>
         <a href="https://www.josephsmithpapers.org/" target="_blank">
            <img src="~/img/jsPapers2.jpg" class="picDiv"/>
            <h5>Joseph Smith Papers</h5>
         </a>
         <a href="https://www.churchofjesuschrist.org/media/video/2017-01-0100-ask-of-god-joseph-smiths-first-vision?lang=eng" target="_blank">
            <img src="~/img/firstVision.jpg" class="picDiv"/>
            <h5>First Vision Video</h5>
         </a>
         <a asp-controller="Home" asp-action="Resources">
            <img src="~/img/JS.jpg" class="picDiv"/>
             <h5>Joseph Jeopardy
             <br /> Resources
             </h5>
         </a>
    </div>

