

@*<div class="d-flex flex-row">
    <div class="d-flex flex-column">
        <p>try</p>
        <p>this</p>
        <p>first</p>
        <p>again</p>
    </div>
</div>
<div class="d-flex flex-row">
    <div class="d-flex flex-column">
        <p>and</p>
        <p>this</p>
        <p>and</p>
        <p>this</p>
    </div>
</div>*@

<div class="d-flex pntValueOuterDiv">
    <div class="d-flex flex-column keyBtnColDim mx-2">
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:orangered">100</button>
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:orange">200</button>
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:peachpuff">300</button>
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:lightseagreen">400</button>
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:mediumblue">500</button>
    </div>
    <div class="d-flex flex-column keyTxtColDim mx-2">
        <div class="btnHeight m-2 keyTxtDiv txtBxDiv flexCenter2"><h6 class="marginTxtDiv">Those who know about Joseph Smith and his story at a basic level should know these answers.</h6></div>
        <div class="btnHeight m-2 keyTxtDiv txtBxDiv flexCenter2"><h6 class="marginTxtDiv">Those who have studied JSH and D&C at a basic level should know these answers.</h6></div>
        <div class="btnHeight m-2 keyTxtDiv txtBxDiv flexCenter2"><h6 class="marginTxtDiv">Those who have done deeper study of the life of Joseph Smith and church history, such as reading Saints (1) and some Joseph Smith Papers should know these answers.</h6></div>
        <div class="btnHeight m-2 keyTxtDiv txtBxDiv flexCenter2"><h6 class="marginTxtDiv">Those who have taken a course on the Restoration and Joseph Smith (such as Foundations of the Restorations at BYU) should know these answers.</h6></div>
        <div class="btnHeight m-2 keyTxtDiv txtBxDiv flexCenter2"><h6 class="marginTxtDiv">Those who have done in depth study of Joseph and his life should know these answers.</h6></div>
    </div>
</div>