

@*<div class="d-flex flex-row">
    <div class="d-flex flex-column">
        <p>try</p>
        <p>this</p>
        <p>first</p>
        <p>again</p>
    </div>
</div>
<div class="d-flex flex-row">
    <div class="d-flex flex-column">
        <p>and</p>
        <p>this</p>
        <p>and</p>
        <p>this</p>
    </div>
</div>*@

<div class="d-flex" style="flex-wrap:wrap">
    <div class="d-flex flex-column keyBtnColDim text-light mx-2">
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:orangered">100</button>
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:orange">200</button>
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:peachpuff">300</button>
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:lightseagreen">400</button>
        <button class="btn btn-lg my-2 btnHeight text-light" style="background-color:mediumblue">500</button>
    </div>
    <div class="d-flex flex-column keyTxtColDim mx-2">
        @*<button class="btn btn-lg my-2 w-100"></button>*@
        <div class="btnHeight m-2 keyTxtDiv align-items-center"><h6 class="marginTxtDiv align-items-center">Those who know about Joseph Smith and his story will know</h6></div>
        <div class="btnHeight m-2 keyTxtDiv marginTxtDiv"><p>Those who have studies JSH and D & C at a basic level will know</p></div>
        <div class="btnHeight m-2 keyTxtDiv marginTxtDiv"><p>Those who have read Saints (1) and some Joseph Smith Papers will know</p></div>
        <div class="btnHeight m-2 keyTxtDiv marginTxtDiv"><h6>Those who have taken a course about the Restoration and Joseph Smith (such as Foundations of the Restorations at BYU) will know</h6></div>
        <div class="btnHeight m-2 keyTxtDiv marginTxtDiv"><p>Those who have done in depth study of Joseph and his life will know</p></div>
    </div>
