<h1>Here are the resources used to generate the questions and answers for the Joseph Jeopardy</h1>
<div>
    <h3>People's Influence</h3>
    <ul>
        <li>The Pearl of Great Price: Joseph Smith History (chapter 1)</li>
        <li>Saints, Vol. 1: The Standard of Truth (chapter 3,4)</li>
        <li>The Oxford Martyrs and the English Protestant Movement, 1553–58: Crumrine, Harrison <a href="http://www.jstor.org/stable/24454295">http://www.jstor.org/</a></li>
    </ul>
</div>

<div>
    <h3>Man of Miracles</h3>
    <ul>
        <li>Doctrine and Covenants 135</li>
        <li>Autobiography of Parley P. Pratt: Pratt, Parley P.</li>
        <li><a href="https://newsroom.churchofjesuschrist.org/article/joseph-smith-and-the-restoration">Church News Room: Joseph Smith and the Restoration</a></li>
        <li>Gospel Topic Essays: Book of Mormon Translation</li>
        <li>The Rise of the Adult Education and Literacy System in the United States: 1600-2000: Sticht, Thomas G. <a href="http://www.ncsall.net/?id=576 ">http://www.ncsall.net/</a></li>
    </ul>
</div>

<div>
    <h3>Visions & Visitations</h3>
    <ul>
        <li>The Pearl of Great Price: Joseph Smith History (chapter 1)</li>
        <li>Saints, Vol. 1: The Standard of Truth (chapter 3)</li>
        <li>History of the Church, Vol.1 (chapter 6)</li>
    </ul>
</div>

<div>
    <h3>Joseph's Falacies</h3>
    <ul>
        <li>The Pearl of Great Price: Joseph Smith History (chapter 1)</li>
        <li>Saints, Vol. 1: The Standard of Truth (chapter 3,4,5,6)</li>
        <li>Doctrine and Covenants 3</li>
        <li>Joseph Smith Papers: Letter to Edward Partridge and the Church, circa 22 March 1839</li>
        <li>Video: The Unfolding Restoration Lesson 17: The Missouri Extermination and the Kirtland Apostasy (35:00-38:00)</li>
    </ul>
</div>

<div>
    <h3>Trial By Fire</h3>
    <ul>
        <li></li>
    </ul>
</div>