<h1>Here are the resources used to generate the questions and answers for the Joseph Jeopardy</h1>
<div>
    <h3>People's Influence</h3>
    <ul>
        <li></li>
    </ul>
</div>

<div>
    <h3>Man of Miracles</h3>
    <ul>
        <li></li>
    </ul>
</div>

<div>
    <h3>Visions & Visitations</h3>
    <ul>
        <li></li>
    </ul>
</div>

<div>
    <h3>Joseph's Falacies</h3>
    <ul>
        <li></li>
    </ul>
</div>

<div>
    <h3>Trial By Fire</h3>
    <ul>
        <li></li>
    </ul>
</div>